.switch {
  position: absolute;
  left: -200%;

  &:checked ~ &-label span {
    background-color: $color-blue;

    &::before {
      transform: translateX(18px);

      @include xl {
        transform: translateX(24px);
      }
    }

    &::after {
      width: 10px;
      height: 10px;
      left: 6px;
      background-image: url('../images/checked.svg');
      background-size: 10px 10px;

      @include xl {
        width: 14px;
        height: 14px;
        left: 8px;
        background-size: 14px 14px;
      }
    }
  }
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  cursor: pointer;

  span {
    position: relative;
    width: 38px;
    height: 20px;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    background-color: rgba($color-gray, 0.3);
    transition: background-color 0.3s;

    @include xl {
      width: 50px;
      height: 26px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      left: 1px;
      top: 1px;
      width: 18px;
      height: 18px;
      background-color: #fff;
      border-radius: 50%;
      z-index: 999;
      transition: transform 0.3s;

      @include xl {
        width: 24px;
        height: 24px;
      }
    }

    &::after {
      top: 50%;
      right: 6px;
      width: 9px;
      height: 9px;
      transform: translateY(-50%);
      background: url('../images/cross.svg');
      background-size: 9px 9px;

      @include xl {
        right: 8px;
        width: 12px;
        height: 12px;
        background-size: 12px 12px;
      }
    }
  }
}
